#div1 {
    width: 50%;
    margin: 30px;
    border: solid 4px gainsboro;
    border-radius: 10px
}

#line {
    margin: 0px 5px;
    border: 6px royalblue;
    border-style: none none dashed
}

#header1 {
    margin: 10px 10px;
}

#header2 {
    margin: 10px 10px;
}

#paragraph1 {
    padding: 10px;
}

#contact {
    margin: 20px;
    background-color: gainsboro;
    border: solid 4px royalblue;
}

#div2 {
    width: 300px;
    margin: 30px;
    padding: 15px;
    background-color: gainsboro;
    border-radius: 5px
}

#div3 {
    padding: 10px 5px;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px
}

#div4 {
    display: flex;
    background-color: lightskyblue;
}

#avatar {
    margin: 10% 0%;
    width: 30%;
    height: 30%;
}